 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
main{
    color-scheme: light dark;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: white;
    line-height: 1.5;
  } 
.weatherSettings{

}
.weatherSettings h1{

}
.hidden{
    display: none;
}
.centered{
    text-align: center;
}
h1{
    font-weight: bolder;
}
.weatherContainer{
    background-color: #F39C12;
    color: black;
    border: 2px solid #F39C12;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
}
img{
    border: 2px solid black;
}
#weatherAlerts{
    margin-bottom: 3%;
}
.hidden-border {
    border: none;
  }
.temperature {
    line-height: 0;
    font-size: 3rem;
  }
  #temperature {
    font-weight: bold;
    font-size: 2rem;
  } 
   #shortForecast {
    font-weight: normal;
    font-size: 1rem;
  }
  #feelsLike{
  }
  .inline {
    display: inline;
  }
  .temperatureDiv {
    margin-left: 15px;
    line-height: 0.5;
  }
  .icons-container {
    display: flex;
  }
  
  .icon {
    margin-right: 10px; /* Adjust as needed */
  }
  
  .icon img {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
  }
  .col-sm{
    border: 2px solid black;
  }
@media screen and (max-width: 550px) {
    .weatherContainer{
        margin: 0%;
        padding: 0;
        font-weight: normal;
    }
    #temperature{
        font-size: 2rem;
        font-weight: bold;
    }
    img{
        width: 20vw;
    }
    .iconDiv{
        margin: 0;
        text-align: center;
    }
    img{
       width:15vw;
    }
    .temperatureDIv{
      }
    .windRainContainer{
        line-height: .5;
    }
    .windDIv{
        font-size: 0.75rem;;
    }
    .rainChanceDiv{
        font-size: 0.75rem;
    }
    #weatherAlerts{
        font-size: 10px;
    }
    .alertTitle{
        font-size: 1rem;
    }
    #weatherImage{
        width: 25vw;
        float: none;
    }
    #imageContainer {
        flex-direction: column;
        align-items: center;
      }
      #imageContainer > div {
        margin-top: 15px;
      }
      
  } 