@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    margin: 0px;
    background-color: #626D58;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
.centered{
    text-align: center;
}
h1{
    font-weight: bolder;
    text-align: center;
}
.getLocation{
    text-align: center;
}
#locationData{
    text-align: center;
}
p{
    text-align: center;
}
.buttons{
    text-align: center;
}
.weatherContainer{
    background-color: white;
    color: black;
    margin: 5%;
    border: 2px solid white;
}
#weatherAlerts{
    text-align: center;
    margin: 2%;
}
.temperature {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  .temperatureDIv{
    margin: 0;
    font-size: 2.5rem;
    padding-right: 50px;
  }
  #shortForecast {
    text-align: center;
    font-size: 1.5rem;
  }
  #temperature {
    font-weight: bold;
  }
.windRainContainer{
    line-height: 0;
}
.windDIv{
    font-size: 15px;;
}
.rainChanceDiv{
    font-size: 15px;
}
.windRainContainer{
    font-size: 30px;
}
@media screen and (max-width: 550px) {
    .temperature {
        display: block;
    }
    #shortForecast{
        font-size: .5rem;
    }
    .iconDiv{
        margin: 0;
        text-align: center;
    }
    .temperatureDIv{
    margin: 0;
      text-align: center;
    padding: 0;
      }
    #temperature{
        font-size: 1.5rem;
        text-align: center;
    }
    .windRainContainer{
        line-height: .5;
    }
    .windDIv{
        font-size: 10px;;
    }
    .rainChanceDiv{
        font-size: 10px;
    }
    #weatherAlerts{
        font-size: 10px;
    }
    .alertTitle{
        font-size: 1rem;
    }
    p{
        font-size: 10px;
    }
  }