html{
    color-scheme: light dark;
    line-height: 1.5;
}
h1{
    text-align: center;
}
.getLocation{
    text-align: center;
}
#locationData{
    text-align: center;
}
p{
    text-align: center;
}
.buttons{
    text-align: center;
}
.weatherContainer{
    margin: 5%;
    border: 2px solid black;
}
#weatherAlerts{
    font-weight: bold;
    font-size: 25px;
}
.iconContainer{
    display:flex;
    justify-content: center;
    width: 100%;
    height: auto;
    width: auto;
}
.temperature{
    font-size: 50px;
}
#icon{
    width: 50vh;
}
  